[push]
  default = current
[color]
  ui = auto
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[include]
  path = .gitconfig_private
[pull]
	rebase = false
[init]
	defaultBranch = main
[core]
  excludesfile = .gitignore_global
