[push]
  default = current
[color]
  ui = auto
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[pull]
  rebase = false
[init]
  defaultBranch = main
[merge]
  command = "vim"
  args = "-d"
[core]
  excludesfile = .gitignore_global
{{- if eq .chezmoi.username "nate" }}
{{- onepasswordDocument "jdjypyylghhcwiq7f4lmfistgi" "hzb4el24lbaebijxt2b3dr6pwe" -}}
{{- end }}
{{ if (eq .chezmoi.os "darwin") }}
[credential]
  helper = osxkeychain
{{ else if (eq .chezmoi.os "linux" ) }}
# linux
{{ else }}
# other operating system
{{ end }}
