{{- if eq .chezmoi.username "nate" }}
{{- onepasswordDocument "r5exhjnalmuuvvg2o5ezjgmx5y" -}}
{{- end }}

{{ if eq .chezmoi.os "linux" -}}
update() {
    sudo apt update && sudo apt upgrade -y
    if which brew &>/dev/null; then 
        brew update && brew upgrade && brew autoremove && brew doctor
    endif
}

{{ else if eq .chezmoi.os "darwin" -}}
alias update="brew update && brew upgrade && brew autoremove && brew doctor"
{{ end -}}
