#!/bin/sh

# Install Homebrew
if ! command -v brew &> /dev/null
then
    echo "brew could not be found, installing now"
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

{{ if eq .chezmoi.os "linux" -}}

sudo apt update
sudo apt install -y ack git grep htop tmux tree zsh
sudo apt upgrade

test -d ~/.linuxbrew && eval "$(~/.linuxbrew/bin/brew shellenv)"
test -d /home/linuxbrew/.linuxbrew && eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
test -r ~/.bash_profile && echo "eval \"\$($(brew --prefix)/bin/brew shellenv)\"" >>~/.bash_profile
echo "eval \"\$($(brew --prefix)/bin/brew shellenv)\"" >> $HOME/.profile

# /home/linuxbrew/.linuxbrew/bin/brew install starship neovim

{{ else if eq .chezmoi.os "darwin" -}}
for PACKAGE in ack chezmoi git git-delta grep htop mosh neovim starship tmux tree zsh
do
	brew list $PACKAGE || brew install $PACKAGE
done
{{ end -}}

# Install TPM for tmux plugin management
if "test ! -d ~/.tmux/plugins/tpm" \
   "run 'git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm && ~/.tmux/plugins/tpm/bin/install_plugins'"

# Install fzf
if [ ! -d "$HOME/.fzf" ] 
then
    echo "fzf could not be found, installing now"
    git clone --depth 1 https://github.com/junegunn/fzf.git $HOME/.fzf
    $HOME/.fzf/install --bin
fi

# Install oh my zsh
if [ ! -d "$HOME/.oh-my-zsh" ] 
then
    echo "Oh-My-Zsh is not installed, installing now" 
    git clone https://github.com/ohmyzsh/ohmyzsh.git $HOME/.oh-my-zsh
    chsh -s $(which zsh)
fi
